## **STP Class03 Assignments: 2021-05-26**

# DICTIONARY

### 1. Write a Python Program to sort (ascending and descending) a dictionary by value.

In [ ]:
datadict = {0: 55, 1: 30, 2: 15, 3: 23, 4: 47}

In [ ]:
# 1. use sorted()
datalist = sorted(datadict.items(),key=lambda x:x[1])
sort_datadict = dict(datalist)
print(sort_datadict)

{2: 15, 3: 23, 1: 30, 4: 47, 0: 55}

In [ ]:
# 2. use itemgetter()
import operator

datalist = sorted(datadict.items(), key=operator.itemgetter(1))
sort_datadict = dict(datalist)
print(sort_datadict)

{2: 15, 3: 23, 1: 30, 4: 47, 0: 55}

In [ ]:
# 3. use dict.items()
datalist=sorted((value, key) for (key,value) in datadict.items())
sortdict=dict([(k,v) for v,k in datalist])
print(sort_datadict)

{2: 15, 3: 23, 1: 30, 4: 47, 0: 55}

### 2. Write a Python Program to add a key to a dictionary.

In [ ]:
odict = {0: 10, 1: 20}

In [ ]:
odict[2] = 30
odict

{0: 10, 1: 20, 2: 30}

### 3. Write a  program asks for City name and Temperature and builds a dictionary using that Later on you can input City name and it will tell you the Temperature of that City.

In [ ]:
citytemp = {}

city = input("Enter City name: ")
temp = int(input("Enter Temperature: "))
citytemp [city] = temp
find = input("Enter City name to search: ")
print("Temperature of", find, "is", citytemp[find], "cg")

Enter City name: London
Enter Temperature: 21
Enter City name to search: London
Temperature of London is 21 cg

### 4. Write a Python program to convert list to list of dictionaries.

Expected Output: [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [ ]:
olist = [["Black", "Red", "Maroon", "Yellow"], ["#000000", "#FF0000", "#800000", "#FFFF00"]]

In [ ]:
d = dict(zip(olist[0],olist[1]))
d

{'Black': '#000000',
 'Maroon': '#800000',
 'Red': '#FF0000',
 'Yellow': '#FFFF00'}

In [ ]:
lsdict = []
for col,code in zip(olist[0],olist[1]):
  ndict = {}
  ndict["color_name"] = code
  ndict["color_code"] = col
  lsdict.append(ndict)
lsdict

[{'color_code': 'Black', 'color_name': '#000000'},
 {'color_code': 'Red', 'color_name': '#FF0000'},
 {'color_code': 'Maroon', 'color_name': '#800000'},
 {'color_code': 'Yellow', 'color_name': '#FFFF00'}]

### 5. We have following information on Employees and their Salary (Salary is in lakhs)

Employee	Salary

John	14

Smith	13

Alice	32

Daneil	21

In [ ]:
# 5.1. Using above create a dictionary of Employees and their Salary
empdb = {}
empdb["John"] = 14
empdb["Smith"] = 13
empdb["Alice"] = 32
empdb["Daneil"] = 21
empdb

{'Alice': 32, 'Daneil': 21, 'John': 14, 'Smith': 13}

In [ ]:
# 5.2. Write a program that asks user for three type of inputs,
# a. print: if user enter print then it should print all Employees with their Salary in this format,

In [ ]:
cmd = input("Enter your command: ")
if cmd == "print":
  for emp in empdb:
    print(emp,"==>",empdb[emp])
elif cmd == "add":
  newemp = input("Enter Employee name: ")
  if newemp in empdb.keys():
    print("Employee",newemp,"already exists!")
  else:
    newsal = int(input("Enter Salary: "))
    empdb[newemp] = newsal
    print(empdb)
elif cmd == "remove":
  rmemp = input("Enter Employee name to remove: ")
  if rmemp in empdb.keys():
    empdb.pop(rmemp)
    for emp in empdb:
      print(emp,"==>",empdb[emp])
  else:
    print("Employee doesn't exists!")
elif cmd == "query":
  femp = input("Enter Employee name: ")
  if femp in empdb.keys():
    print("Salary of",femp,"is",empdb[femp])
  else:
    print("Employee doesn't exists!")

Enter your command: query
Enter Employee name: Daneil
Salary of Daneil is 21

## SET

### 1. What is the difference between a set and a frozenset? Create any set and try to use frozenset(setname).

In [ ]:
myset = {'apple', 'banana', 'cherry'}

In [ ]:
myfrozset = frozenset(myset)
myfrozset

frozenset({'apple', 'banana', 'cherry'})

### 2. Find the elements in a given set that are not in another set

In [ ]:
set1 = {10,20,30,40,50}
set2 = {40,50,60,70,80}

In [ ]:
set1.difference(set2)

{10, 20, 30}